<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplo01</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= alert %>
    <%= notice %>
    
    <% if logged? %>
      <p><%= current_user.email %> ha ingresado</p>
      <%= link_to 'Salir', session_path(current_user), method: :delete %>
    <% else %>
      <p>El usuario no ha ingresado</p>
      <%= link_to 'Registrarse', users_sign_up_path %>
      <%= link_to 'Login', users_sign_in_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
